In [2]:
import pandas as pd
df1 = pd.read_json('../_zap/dados/zap.json')
df2 = pd.read_json('../_quinto/dados/quinto.json')
df3 = pd.read_json('../_viva/dados/viva.json')
df = pd.concat([df1, df2, df3], ignore_index=True)

In [3]:
df

,price,regionName,address,rooms,parking,toilets,size,penthouse,iptuPlusCondominium
0,3500,Santa Helena (Barreiro),Rua Maria Amélia Mello,3,2,3,160,1,850
1,1600,Pousada Santo Antônio,Rua Ernesto Tognolo,2,1,1,87,1,459
2,4500,Sion,Avenida dos Bandeirantes,3,3,3,220,1,1235
3,4500,União,Rua Domingos Fernandes,5,2,4,330,1,875
4,3800,Santo Antônio,,1,2,2,80,1,312
...,...,...,...,...,...,...,...,...,...
8276,1160,Sao Damiao,,2,1,1,80,0,0
8277,2600,Floresta,Avenida Flávio dos Santos,3,2,2,90,0,325
8278,3100,Castelo,Rua Romualdo Lopes Cançado,3,2,3,120,0,550
8279,2600,Nova Floresta,,3,2,3,78,0,360
8280,6900,Carmo,"Rua Grão Mogol, 172",3,2,2,115,0,872

In [4]:
#Removendo os valores que tem TODOS os dados iguais 
df = df.drop_duplicates(subset=['price' ,'address','rooms','parking','toilets','size', 'penthouse'])
df

,price,regionName,address,rooms,parking,toilets,size,penthouse,iptuPlusCondominium
0,3500,Santa Helena (Barreiro),Rua Maria Amélia Mello,3,2,3,160,1,850
1,1600,Pousada Santo Antônio,Rua Ernesto Tognolo,2,1,1,87,1,459
2,4500,Sion,Avenida dos Bandeirantes,3,3,3,220,1,1235
3,4500,União,Rua Domingos Fernandes,5,2,4,330,1,875
4,3800,Santo Antônio,,1,2,2,80,1,312
...,...,...,...,...,...,...,...,...,...
8271,2800,Serra,"Rua do Ouro, 400",1,1,1,90,0,364
8273,2000,Buritis,"Rua Juruena, 135",2,1,1,40,0,320
8274,3000,Cruzeiro,Rua Muzambinho,2,1,1,64,0,250
8275,4200,Buritis,"Rua Ernani Agricola, 475",3,4,3,115,0,1388
8278,3100,Castelo,Rua Romualdo Lopes Cançado,3,2,3,120,0,550

In [5]:
#Verificando se tem dados duplicados
df.duplicated(subset=['price' ,'address','rooms','parking','toilets','size', 'penthouse']).value_counts()

False    6384
Name: count, dtype: int64

In [6]:
df.to_json('all_aps.json', orient='records', force_ascii=False, indent=4)